@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply min-h-screen;
        -webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
        scrollbar-width: thin;
    }
}

::-webkit-scrollbar {
	width: 8px;
	height: 10px;
    @apply bg-element-tertiary;
}
::-webkit-scrollbar-thumb {
	border-radius: 8px;
	@apply bg-brand-light;
}
